VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_GOOGLE_ENABLED=true
VITE_MICROSOFT_ENABLED=false
VITE_MICROSOFT_TENANT=common
VITE_FACEBOOK_ENABLED=false
VITE_GITHUB_ENABLED=false
VITE_TELEGRAM_ENABLED=false
VITE_TELEGRAM_FN_URL=
